a.identity-provider-link {
	border-bottom: 1px solid #cae3f2;
	color: #236a97;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	transition: all .2s ease;
	display: block;
	width: auto;
	line-height: 22px;
	padding: 8px 12px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	box-sizing: border-box;
	background-color: rgb(51, 102, 153);
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;

  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
  font-size: 13px;  
  width: 200px;
  height: 40px;
  margin: 5em auto 0px auto;
}

a.identity-provider-link > img {
  padding-right: 12px;
  vertical-align: top;
  overflow: visible;
  border: 0;
  width: 20px;
  height: 20px;
  box-sizing: unset;
}

a.identity-provider-link > span::before {
	content: '';
	opacity: 0.4;
	border-left: 1px #b4b4b4 solid;
	margin-right: 12px;
}